<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <div class="caption">
            <h4 class="pull-right">
                {% if task.isDone %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}
                {% if task.author is not null %}
                    <h6>Tâche créée par {{ task.author.username }}</h6>
                {% else %}
                    <h6>Tâche créée par un utilisateur anonyme</h6>
                {% endif %}
            </h4>
            <h4><a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a></h4>
            <p>{{ task.content }}</p>
        </div>
           
        <div>
            {% if app.user == task.author %}
                <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                    <button class="btn btn-success btn-sm pull-right">
                        {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                    </button>
                </form>
            {% endif %}
            {% if app.user == task.author or task.author == null and is_granted('ROLE_ADMIN') %} 
                <form action="{{ path('task_delete', {'id' : task.id }) }}">
                    <button class="btn btn-danger btn-sm pull-right">Supprimer</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>